body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
   /* ba ckground: linear-gradient(to bottom, #4CAF50, #2E8B57); Gradient background */
}
 
h2 {
    color: #fff; /* White text color */
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3); /* Box shadow */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top:10px;

}

button:hover {
    background-color: #45a049;
}
